input 
{
	border-radius: 7px; padding-left: 10px;
	background: linear-gradient(rgb(235,235,235), white);
}

input[type="submit"]
{
	background: linear-gradient(rgba(0,235,0,0.3), white);
}

input:focus 
{
	border-color:#333; 
}