<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

        <!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/test</property>
		<property name="hibernate.connection.username">root</property>
		<property name="connection.password"></property>

		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- <property name="format_sql">true</property> -->

		<!-- Drop and re-create the database schema on startup -->

		<!-- -->
		<property name="hbm2ddl.auto">update</property>

        <mapping class="org.msz.servlet.datatype.User" />
        <mapping class="org.msz.servlet.datatype.UserRole" />
        <mapping class="org.msz.servlet.datatype.PollOption" />
        <mapping class="org.msz.servlet.datatype.PollGroup" />
        <mapping class="org.msz.servlet.datatype.Subscription" />
        <mapping class="org.msz.servlet.datatype.polls.SingleDecisionPoll" />
        <mapping class="org.msz.servlet.datatype.polls.MultiDecisionPoll" />
        <mapping class="org.msz.servlet.datatype.polls.SplitPointsPoll" />
        <mapping class="org.msz.servlet.datatype.polls.AwardingPoll" />
        <mapping class="org.msz.servlet.datatype.polls.OrderingPoll" />
        <mapping class="org.msz.servlet.datatype.polls.FormTypePoll" />
        <mapping class="org.msz.servlet.datatype.polls.CustomPoll" />
        <mapping class="org.msz.servlet.datatype.polls.PublicPoll" />
        <mapping class="org.msz.servlet.datatype.VoteOption" />
        <mapping class="org.msz.servlet.datatype.Vote" />

	</session-factory>
</hibernate-configuration>